<template>
<v-app>
  <v-layout row>
    <v-flex>
      <v-card>
        <v-list two-line subheader >
          <v-subheader>
            Marcadores de Google
          </v-subheader>
          <v-list-tile
            v-for= "(marcador, index) in marcadores"
            :name = "name"
            :key = "index"
          >
            <v-list-tile-action>
                <v-btn icon color="orange white--text">
                    {{ index }}
                </v-btn>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                Ubicación
              </v-list-tile-title>
              <v-list-tile-sub-title>
                <b>Latitud:</b> {{ marcador.mkLatitud }}
              </v-list-tile-sub-title>
              <v-list-tile-sub-title>
                <b>Longitud:</b> {{ marcador.mkLongitud }}
              </v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-avatar>
              <v-btn :id= "index" flat icon color="red" @click="eliminarListado(index)">
                <v-icon>
                  {{ marcador.iconDelete }}
                </v-icon>
              </v-btn>
            </v-list-tile-avatar>
          </v-list-tile>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</v-app>
</template>

<script>
import { BusMarker } from '../main.js';
import { ListMarcadores} from '../main.js';
//import {  } from '../main.js';
export default {
  //name: 'google-map',
  props: ['name', 'items'],
  data() {
    return {
      propiedades: '',
      marcadores:[]
    }
  },
  mounted: function(){
      ListMarcadores.$on('agregaritemlistado', marcador => {
        this.marcadores.push(marcador);
        var index = this.marcadores.indexOf(marcador);
        /* TarjetasDelClima.$emit('agregartarjetaclima', {
          mkLatitud: marcador.mkLatitud,
          mkLongitud: marcador.mkLongitud
        }); */

      });
  },
  methods:{
    eliminarListado: function(index){
    //  this.$emit('eliminarmarcador', index);
      var vm = this;
      vm.marcadores.splice(index, 1);
      BusMarker.$emit('eliminarmarker', index);
    }
  }
}
</script>
