<template>
  <div id="app">
      <v-app >
          <div class= "google-map" :id= "mapName" style= "width: 100%; height:100%;"></div>
      </v-app>
  </div>
</template>
<script>
import { BusMarker } from '../main.js';
import { ListMarcadores } from '../main.js';
import { TarjetasDelClima } from '../main.js';

export default {
  //name: 'google-map',
  props: ['name', 'marcadoreliminado'],
  data() {
    return {
      mapName: this.name + "-map",
      markers: []
    }
  },
  mounted: function(){
    this.markers = [];
    this.initMap();
    BusMarker.$on('eliminarmarker', index => {
      this.markers[index].setMap(null);
      this.markers.splice(index, 1);
    });
  },
  methods:{
    initMap: function () {
      var vm = this;
      var element = document.getElementById(this.mapName);
      var options = {
        center: new google.maps.LatLng(25.79229661733416,-108.99311562531034),
        zoom: 3
      };
      var map = new google.maps.Map(element,
        {
          zoom: options.zoom,
          center: options.center
        }
      );
      var mapEvent = google.maps.event;
      var marker = new google.maps.Marker();

      mapEvent.addListener(map, 'click', function(event, results){
        var vLat = event.latLng.lat();
        var vLng = event.latLng.lng();
        // Se crea un ID unico
        var vMarkerId = vLat +"_"+ vLng;
        var myLatLng = {lat: vLat, lng: vLng};
        var marker = new google.maps.Marker({
           position: myLatLng,
           map: map
         });
        // Se agrega el nuevo marcador al arreglo de marcadores
        vm.markers.push(marker);
        var mkLatLng = marker.getPosition();
        let marcador = {
          display: true,
          mkLatitud: mkLatLng.lat(),
          mkLongitud: mkLatLng.lng(),
          iconMarker: 'room',
          iconDelete: 'delete'
        }
        //vm.$emit('agregaritemlistado', marcador);
        //ListMarcadores.$emit('agregaritemlistado', marcador);
        TarjetasDelClima.$emit('agregartarjetaclima', {
          mkLatitud: marcador.mkLatitud,
          mkLongitud: marcador.mkLongitud
        });

      });
    },
  },
  watch: {
    marcadoreliminado: function(index){
      console.log("marcador eliminaado", index)
    }
  }
}

</script>

<style>
  .google-map {
    margin: 0 auto;
    background: gray;
  }
</style>
