<template>
  <v-app>
    <template>
      <v-layout row>
        <v-flex xs12>
          <v-list>
            <v-subheader>
              Marcadores de Google
            </v-subheader>
            <v-list-group
              v-for= "(tarjeta, index) in tarjetas"
              :key= "index">
              <v-list-tile slot="activator"
              >
                <v-list-tile-action>
                  <v-icon color="red" @click="eliminarTarjeta(index)">
                    delete
                  </v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title> {{ tarjeta.ubicacion.name }} </v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-tooltip bottom>
                    <v-icon :color="tarjeta.ubicacion.color" slot="activator">{{ tarjeta.ubicacion.icon_lg }}</v-icon>
                    <span style="text-transform: capitalize;">{{ tarjeta.ubicacion.descripcion }}</span>
                  </v-tooltip>
                </v-list-tile-action>
              </v-list-tile>
              <v-list-tile
                v-for= "(propiedad, key, index) in tarjeta"
                :key= "index"
              >
                  <v-list-tile-content>
                    <v-list-tile-title> {{ headers[index] }} </v-list-tile-title>
                    <v-list-tile-sub-title v-if= "key === 'sunrise' || key === 'sunset'"> {{ propiedad.tiempo }} </v-list-tile-sub-title>
                    <v-list-tile-sub-title v-else-if= "key === 'ubicacion'"> {{ propiedad.name }} </v-list-tile-sub-title>
                    <v-list-tile-sub-title v-else> {{ propiedad }} </v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                      <v-icon :color="propiedad.color" v-if= "key === 'sunrise' || key == 'sunset'"> {{ propiedad.icon }} </v-icon>
                  </v-list-tile-action>
                </v-list-tile>
            </v-list-group>
          </v-list>
        </v-flex>
      </v-layout>
    </template>
  </v-app>
</template>

<script>
import axios from 'axios'
import { BusMarker, TarjetasDelClima } from '../main.js';
export default {
  props: ['name'],
  data(){
    return {
      propiedad:'',
      headers: [
        'Ciudad',
        'Temperatura',
        'Latitud',
        'Longitud',
        'Temperatura Máxima',
        'Temperatura Mínima',
        'Amanecer',
        'Puesta de Sol'
      ],
      tarjetas: [],
      weathermap: {
        appid: 'a595447677c7f7ba3377da1e7cfe22b4',
        lat: '25.79229661733416',
        lng: '-108.99311562531034',
        info: null,
        loading: true,
        errored: false,
        lang: 'es',
        units: 'metric'
      }
    }
  },
  mounted() {
    TarjetasDelClima.$on('agregartarjetaclima', marcador => {
      var vm = this;
      axios
        .get(
          `weather?lat=${marcador.mkLatitud}&lon=${marcador.mkLongitud}&APPID=${vm.weathermap.appid}&lang=${vm.weathermap.lang}&units=${vm.weathermap.units}`
        )
        .then(response => {
          //vm.temperatura = response.data;
          var data = response.data;
          var temperatura = {
              ubicacion: {
                name: !data.name ? "Banbucha": data.name,
                descripcion: data.weather[0].description,
                icon_md: 'owf-' + data.cod + ' owf-2x',
                icon_lg: 'owf-' + data.weather[0].id + ' owf-2x',
                color: 'blue-grey lighten-1'
              },
              temp: data.main.temp,
              lat: marcador.mkLatitud,
              lng: marcador.mkLongitud,
              temp_min: data.main.temp_min,
              temp_max: data.main.temp_max,
              sunrise: {
                tiempo: data.sys.sunrise,
                icon: 'owf-800-d owf-2x',
                color: 'orange accent-4'
                },
              sunset: {
                tiempo: data.sys.sunset,
                icon:'owf-800-n owf-2x',
                color: 'blue'
                }
          }
          this.tarjetas.push(temperatura);
        })
        .catch(error => {
          vm.weathermap.errored = true
        })
        .finally(
          () => vm.weathermap.loading = false);

    });
  },
  methods:{
    eliminarTarjeta: function(index){
      this.tarjetas.splice(index, 1);
      BusMarker.$emit('eliminarmarker', index);
    },
  }
}
</script>

<style>

</style>
