<template>
  <div id="app">
    <v-layout row>
      <v-flex xs6 sm6>
        <mapa-google
          :name= "'Ulito'">
        </mapa-google>
      </v-flex>
      <v-flex xs6 sm6>
        <!--listado-marcadores>
        </listado-marcadores-->
        <temperatura-mapa>
        </temperatura-mapa>
      </v-flex>
    </v-layout>

  </div>
</template>
<script>
import mapaGoogle from "./home/mapa-google.vue";
import listadoMarcadores from "./home/listado-marcadores.vue";
import temperaturaMapa  from "./home/temperatura-mapa.vue";
export default {
  components:{
    'mapa-google': mapaGoogle,
    'listado-marcadores': listadoMarcadores,
    'temperatura-mapa': temperaturaMapa
  },
  data: function() {
    return {

      temperaturas:[]
    }
  },
  methods: {
  /*   agregarItemListado: function(payload){
      var vm = this;
      vm.marcadores.push(payload);
    }, */
    eliminarTemperatura: function(){

    }
  }

}
</script>

<style>

</style>
